<div class="p-10 pt-20 flex flex-col-reverse justify-center items-center md:flex-row md:justify-center">
  <%= image_tag ('HomepageImage.png'), class: "h-70"%>
  <div class="md:w-6/12 pl-20 md:mt-0 md:pl-20">
    <div class="flex align-items items-center md:justify-start">
      <%= image_tag ('BandBindrLogBlue.png'), class: "h-20"%>
      <h2 class="text-4xl font-bold text-[#0097B2] pl-4">Band Bindr</h2>
    </div>
    <p>
      Welcome to our app, where organization meets musical creativity! With our platform, bands and music groups can effortlessly manage their repertoire of songs and the talented individuals who lead them. Say goodbye to chaotic planning sessions and hello to efficiency as you tag each song with relevant keywords, allowing you to filter and search with ease. Whether you're preparing for a performance or simply refining your setlist, our app empowers you to streamline your workflow and focus on what truly matters: the music. Join us today and experience the harmony of organization and innovation!
    </p>
  </div>
</div>


<div class="flex justify-center items-center py-20">
  <div id="default-carousel" class="relative h-96 md:h-96 w-full flex justify-center" data-carousel="slide">
      <!-- Carousel wrapper -->
      <div class="relative overflow-hidden rounded-lg w-2/4">
          <!-- Item 1 -->
          <div class="hidden duration-400 ease-in-out text-center self-center" data-carousel-item>
            <h1 class="text-[#0097B2]">Organizations</h1>
            <p>In our app, organizational efficiency is paramount, offering a streamlined platform where multiple users can access and collaborate on team content with ease. With customizable permissions set by the admin, each user gains access to specific features tailored to their role and responsibilities within the organization. Whether you're a band manager, team leader, or individual musician, you have the tools necessary to efficiently manage and organize your musical endeavors. From maintaining a centralized repository of songs and setlists to coordinating rehearsals and performances, our platform empowers every user to contribute meaningfully to the collective success of the team. Embrace the power of organizational synergy and elevate your musical journey with our innovative app today!</p>
          </div>
          <!-- Item 2 -->
          <div class="hidden duration-400 ease-in-out text-center self-center" data-carousel-item>
            <h1 class="text-[#0097B2]">People</h1>
            <p>In our app, collaboration takes center stage, offering a dynamic platform where every member of your musical ensemble can seamlessly interact and coordinate. With full transparency, each person within the organization has access to the comprehensive song list of their fellow team members, including the keys in which they lead. This means that whether you're a vocalist, guitarist, or any other instrumentalist, you can easily explore the repertoire of your colleagues and leverage their expertise for collaborative endeavors. Planning events, rehearsals, or jam sessions becomes effortless as you tap into the wealth of musical content and knowledge readily available within your team. From selecting the perfect setlist to refining arrangements, our platform fosters a culture of collaboration, enabling every member to contribute their unique talents and insights towards collective success. Embrace the power of collaboration and elevate your musical journey with our innovative app today!</p>
          </div>
          <!-- Item 3 -->
          <div class="hidden duration-400 ease-in-out text-center self-center" data-carousel-item>
            <h1 class="text-[#0097B2]">Songs</h1>
            <p>In our app's Songs section, users gain access to a comprehensive list of the organization's repertoire, offering a centralized hub of musical inspiration and collaboration. Here, you can explore an extensive catalog of songs performed by your team, each meticulously organized and annotated with the names of members who lead them. Whether you're searching for a classic anthem or a contemporary hit, our platform provides insights into the individuals responsible for guiding each performance. With just a few clicks, users can delve into the intricacies of each song, viewing the keys in which they're led and gaining valuable context about the team members involved. This feature fosters a sense of transparency and collaboration within the organization, allowing users to leverage the collective expertise of their teammates for creative inspiration and collaboration. Whether you're a seasoned musician or a budding talent, our app's Songs section empowers you to explore, discover, and collaborate on the musical journey like never before.</p>
          </div>
          <!-- Item 4 -->
          <div class="hidden duration-400 ease-in-out text-center self-center" data-carousel-item>
            <h1 class="text-[#0097B2]">Tags</h1>
            <p>In our app's Tags feature, we introduce a powerful tool to streamline your workflow and enhance creativity in setlist creation. With the ability to categorize songs by themes or tag words, organizing your repertoire becomes effortless and intuitive. Whether you're planning for a specific event, mood, or audience preference, our platform allows you to assign relevant tags to each song, enabling quick and efficient filtering during setlist creation. This means that with just a few clicks, you can curate a cohesive and engaging musical experience tailored to your audience's tastes and preferences. Whether it's selecting songs for a high-energy performance or creating a soothing ambiance for a more intimate gathering, our Tags feature empowers you to navigate your repertoire with precision and ease. Say goodbye to endless scrolling and hello to efficient setlist creation with our innovative tagging system. Elevate your musical journey and unleash your creativity with our app today!</p>
          </div>
      </div>
      <!-- Slider indicators -->
      <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
          <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
          <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
          <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
          <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
          <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
      </div>
      <!-- Slider controls -->
      <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
          <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray/30 dark:bg-gray-800/30 group-hover:bg-gray/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-gray dark:group-focus:ring-gray-800/70 group-focus:outline-none">
              <svg class="w-4 h-4 text-gray dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
              </svg>
              <span class="sr-only">Previous</span>
          </span>
      </button>
      <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
          <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray/30 dark:bg-gray-800/30 group-hover:bg-gray/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-gray dark:group-focus:ring-gray-800/70 group-focus:outline-none">
              <svg class="w-4 h-4 text-gray dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
              </svg>
              <span class="sr-only">Next</span>
          </span>
      </button>
  </div>
</div>
