<div class="not-prose mt-10 relative overflow-x-auto">
  <h3 class="text-center text-[#0097B2] text-4xl font-bold mr-4 mb-10">Add a song</h3>
  <%= form_with model: @song, url: organization_songs_path(@current_organization), class: "max-w-sm mx-auto" do |form| %>
    <div class="mb-5">
      <%= form.label :song_name, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= form.text_field :song_name, class:"shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" %>
    </div>
    <%= form.submit 'Add Song', class:"py-2.5 px-5 me-2 mb-2 text-sm font-medium text-white focus:outline-none bg-gray-500 rounded-lg border border-gray-200 hover:bg-gray-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-whitedark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700", type: "button" %>
  <% end %>
  </div>
</div>


