<div class="not-prose mx-10 mt-10 relative overflow-x-auto shadow-md sm:rounded-lg mb-20">
    <div class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4">
      <div class="pl-4 flex items-center">
        <h1 class="text-[#0097B2] text-4xl font-bold">Tags</h1>

 <!-- Add Tag -->
        <button data-popover-target="popover-animation-add" data-popover-placement="right" type="button" class="text-white  focus:ring-4 focus:outline-none font-medium rounded-lg text-sm mx-4 text-center">
          <%= link_to(new_organization_tag_path, class: "m-5") do %>
            <svg class="w-8 h-8 text-gray-500 dark:text-white hover:bg-gray-200 rounded hover:border p-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
            </svg>
          <% end %>
        </button>
        <div data-popover id="popover-animation-add" role="tooltip" class="absolute invisible inline-block w-1/10 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
            <div class="px-3 py-2">
                <p>Add a tag</p>
            </div>
            <div data-popper-arrow></div>
        </div>

       
      </div>
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
            </div>
            <input type="text" id="search-input" data-organization-id="<%= @current_organization.id %>" class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for tag">
        </div>
    </div>

    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              Tag Name
            </th>
          </tr> <!-- Added closing </tr> tag here -->
        </thead>
        <tbody id="tags-container">
         <%= render partial: 'tags/search_results' %>
        </tbody>
      </table>
</div>



<script>
// Function to handle live search
function liveSearch() {
    // Get the search input element
    const searchInput = document.getElementById('search-input');

    
    // Listen for input events on the search input
    searchInput.addEventListener('input', function () {
        // Get the current query from the search input
        const query = searchInput.value.trim();
        const organizationId = searchInput.dataset.organizationId
        const url = `/organizations/${organizationId}/tags?query=${encodeURIComponent(query)}`;
      fetch(url)
        .then(response => response.text())
        .then(data => {
          const songsContainer = document.getElementById("tags-container");
          songsContainer.innerHTML = data;
        })
        .catch(error => console.error("Live search error:", error));
        });
        
}

// Call the liveSearch function when the page loads
document.addEventListener('DOMContentLoaded', liveSearch);
</script>
