<div class="not-prose mt-10 relative overflow-x-auto">
  <h3 class="text-center text-[#0097B2] text-4xl font-bold mr-4 mb-10">New organization</h3>

  <%= render "form", organization: @organization %>
  
</div>

